<div>
    <!--BootCards-->
    <!--    <script src="../JS/bootcards/js/bootcards.js" type="text/javascript"></script>
    
    <link href="JS/bootcards/css/bootcards-desktop.css" rel="stylesheet" />

    <link href="../JS/bootcards/fonts/icomoon.eot" rel="" />
    <link href="../JS/bootcards/fonts/icomoon.svg" rel="" />
    <link href="../JS/bootcards/fonts/icomoon.ttf" rel="" />
    <link href="../JS/bootcards/fonts/icomoon.woff" rel="" />-->

    <!--BootCards ends-->

    <header>
        <h3>Customers</h3>
    </header>
    <div class="form-inline">
        <label class="sr-only" for="txtFirstName">First Name</label>
        <input type="text" data-ng-model="newCustomer.FirstName" class="form-control" id="txtFirstName" placeholder="First Name" />

        <label class="sr-only" for="txtLastName">Last Name</label>
        <input type="text" data-ng-model="newCustomer.LastName" class="form-control" id="txtLastName" placeholder="Last Name" />

        <label class="sr-only" for="txtCity">City</label>
        <input type="text" data-ng-model="newCustomer.city" class="form-control" id="txtCity" placeholder="City" />

        <label class="sr-only" for="btnAddCustomer">Email Address</label>
        <button value="AddCustomer" class="btn btn-default"
             data-ng-disabled="!newCustomer.FirstName || !newCustomer.LastName || !newCustomer.city" 
            data-ng-click="insertCustomers()">AddCustomer</button>

    </div>
    <div class="container" id="main">
        <br />

        <div data-ng-repeat="customer in customers " data-ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="col-sm-5 bootcards-list">
            <div id="contactCard">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{customer.firstName}}&nbsp;{{customer.lastName}}
                        </h3>
                        <div class="btn-group pull-right visible-xs">
                            <a class="btn btn-primary" href="#" >
                                <i class="fa fa-pencil"></i>
                                <span>Delete</span>
                            </a>
                        </div>
                        <button data-ng-click="deleteCustomer(customer.id)" class="btn btn-primary pull-right hidden-xs glyphicon glyphicon-remove"></button>
                        
                        
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            City:  {{customer.city}}
                        </div>
                        <div class="list-group-item">
                            <a href="#/customerOrders/{{customer.id}}">View {{customer.orders.length}} Orders </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>





